/*variables*/
/*variables*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: mistyrose; }

/* titulo */
h1 {
  color: deeppink;
  margin: 25px; }

h1:hover {
  transform: scaleY(0.5); }

.titulo__tipografia {
  font-family: 'Fleur De Leah'; }

/*subtitulos/ encabezado de listas*/
h2 {
  margin-top: 30px;
  color: red;
  font-family: 'Fleur De Leah', cursive; }

/*header*/
header {
  position: sticky;
  top: 2;
  z-index: 2;
  background-image: linear-gradient(to top, blanchedalmond, peachpuff, mistyrose, papayawhip, lightpink); }
  header .header__contenedorMenu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2px;
    margin-left: 100px;
    padding-top: 20px; }
    header .header__contenedorMenu .header__contenedorMenuLi {
      color: dimgrey;
      font-family: 'Passion One', cursiva; }
      header .header__contenedorMenu .header__contenedorMenuLi .header__contenedorMenuLi--item {
        text-decoration: none;
        color: dimgray;
        font-family: 'Satisfy', cursive;
        font-size: medium; }

.btn-group {
  margin-left: 2%; }

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  text-decoration: none;
  margin-left: 20px; }

/*footer*/
footer {
  background-color: gray;
  position: sticky;
  height: 15%;
  margin-bottom: 0rem; }

.contDer p {
  margin-bottom: 0rem; }

.contInfo p {
  margin-bottom: 0rem; }

.contInfo {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  margin-left: 20px; }

.contDer {
  text-align: center; }

/*main*/
.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5 1fr);
  grid-template-areas: "texto imagen " "texto imagen " "texto imagen" "granosCafe cafeHum " "tuestaCafe cafeHum";
  margin: 20px; }

/*texto*/
.texto {
  display: grid;
  grid-area: texto;
  padding-top: 100px;
  padding-bottom: 200px;
  margin-left: 100px; }

.texto {
  font-family: 'Satisfy', cursive; }

h5 {
  color: grey; }

.granosCafe {
  margin-left: 100px;
  font-family: 'Satisfy', cursive;
  padding-top: 5%; }

.tuesteCafe {
  font-family: 'Satisfy', cursive;
  padding-top: 5%; }

.cafeHum {
  padding-top: 5%; }

/*imagen*/
.imagen {
  display: grid;
  grid-area: imagen; }

/*secciones*/
/*bebidas*/
.main_contBebidas {
  display: grid;
  grid-template-columns: 700px 400px;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: "listaBebidas imgBebida " "listaBebidas imgBebida " "listaBebidas imgBebida";
  margin: 20px;
  margin-bottom: 5%; }

.imgBebida {
  display: grid;
  grid-area: imgBebida;
  margin-left: 150px; }

.listaBebidas {
  display: grid;
  grid-area: listaBebidas;
  padding-top: 20px;
  padding-bottom: 600px;
  margin-left: 10px;
  font-family: 'Satisfy', cursive; }
  .listaBebidas h2 {
    color: red;
    font-family: oblique; }

.card-text {
  font-family: 'Satisfy', cursive;
  color: grey; }

.card {
  background-color: mistyrose; }

/*desayunos*/
.main_contBrunch {
  display: grid;
  grid-template-columns: 700px 400px;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: "listaDesayunos imgBrunch" "listaDesayunos imgBrunch" "listaDesayunos imgBrunch";
  margin: 20px;
  margin-bottom: 5%; }

.imgBrunch {
  display: grid;
  grid-area: imgBrunch;
  margin-left: 150px; }

.listaDesayunos {
  display: grid;
  grid-area: listaDesayunos;
  padding-top: 20px;
  padding-bottom: 600px;
  margin-left: 10px;
  font-family: 'Satisfy', cursive; }

h2 {
  color: red;
  font-family: oblique; }

/*cafeteria*/
.main_contCafe {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(3 1fr);
  grid-template-areas: "tablaCafe imgCafe " "tablaCafe imgCafe " "tablaCafe imgCafe";
  margin: 2%;
  margin-bottom: 10%; }
  .main_contCafe .imgCafe {
    display: grid;
    grid-area: imgCafe; }
    .main_contCafe .imgCafe .tablaCafe {
      display: grid;
      grid-area: tablaCafe;
      margin-left: 150px;
      color: #ff149d;
      padding-bottom: 20%; }

.variedadCafe {
  color: red;
  margin-left: 20px; }

/*formulario contacto*/
.contacto {
  display: grid;
  grid-template-columns: 700px  700px;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: "formulario imgContacto" "formulario imgContacto" "formulario imgContacto";
  margin: 20px;
  margin-bottom: 5%; }

.formulario {
  display: grid;
  grid-area: formulario;
  margin-left: 150px; }

.imgContacto {
  display: grid;
  grid-area: imgContacto;
  margin-left: 150px; }

/*escritorio*/
/*tablet*/
@media only screen and (max-width: 767px) and (min-width: 321px) {
  body {
    background-color: papayawhip; }
  main {
    grid-template-areas: "imagen imagen " "texto texto";
    margin: 10px;
    display: grid;
    justify-items: stretch;
    align-items: stretch; }
  .header__contenedorMenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; } }

/*mobile*/
@media only screen and (max-width: 320px) {
  body {
    background-color: pink; }
  .container {
    grid-template-areas: "imagen imagen" "texto texto" "granosCafe granosCafe" "tuesteCafe tuesteCafe" "footer footer";
    width: 100%; }
  .cafeHum {
    display: none; }
  .main_contCafe {
    grid-template-areas: "imgCafe imgCafe" "imgCafe imgCafe" "footer footer";
    width: 100%; }
  .tablaCafe {
    display: none; }
  .variedadCafe {
    display: none; } }
