/*variables*/
/*variables*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: mistyrose;
  margin-bottom: 0rem; }

/* titulo */
h1 {
  color: deeppink;
  margin: 2%; }

h1:hover {
  transform: scaleX(1.5); }

.titulo__tipografia {
  font-family: 'Fleur De Leah'; }

/*subtitulos/ encabezado de listas*/
h2 {
  margin-top: 30px;
  color: red;
  font-family: 'Fleur De Leah', cursive; }

/*header*/
header {
  position: sticky;
  top: 2;
  z-index: 2;
  background-image: linear-gradient(to top, blanchedalmond, peachpuff, mistyrose, papayawhip, lightpink); }

.header_contenedorMenu {
  text-decoration: none;
  color: dimgray;
  font-family: 'Satisfy', cursive;
  font-size: medium;
  margin-left: 1%; }

.nav-item nav-link {
  color: black;
  font-family: 'Satisfy', cursive;
  font-size: medium; }

/*footer*/
footer {
  background-color: gray;
  position: sticky;
  height: 15%;
  margin-bottom: 0rem; }

.contDer p {
  margin-bottom: 0rem; }

.contInfo p {
  margin-bottom: 0rem; }

.contInfo {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  margin-left: 20px; }

.contDer {
  display: inline;
  text-align: center; }

/*main*/
.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5 1fr);
  grid-template-areas: "texto imagen " "texto imagen " "texto imagen" "granosCafe cafeHum " "tuestaCafe cafeHum";
  margin: 2%; }

/*texto*/
.texto {
  display: grid;
  grid-area: texto;
  padding-top: 10%;
  padding-bottom: 15%;
  margin-left: 10%; }

.texto {
  font-family: 'Satisfy', cursive; }

h5 {
  color: grey; }

.granosCafe {
  margin-left: 10%;
  font-family: 'Satisfy', cursive;
  padding-top: 5%; }

.tuesteCafe {
  font-family: 'Satisfy', cursive;
  padding-top: 5%; }

.cafeHum {
  padding-top: 5%; }

/*imagen*/
.imagen {
  display: grid;
  grid-area: imagen; }

/*secciones*/
/*bebidas*/
.main_contBebidas {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(3 1fr);
  grid-template-areas: "listaBebidas imgBebida " "listaBebidas imgBebida " "listaBebidas imgBebida";
  margin: 2%;
  margin-bottom: 5%; }

.imgBebida {
  display: grid;
  grid-area: imgBebida;
  margin-left: 15%; }

.listaBebidas {
  display: grid;
  grid-area: listaBebidas;
  padding-top: 2%;
  padding-bottom: 30%;
  margin-left: 1%;
  font-family: 'Satisfy', cursive; }
  .listaBebidas h2 {
    color: red;
    font-family: oblique; }

.card-text {
  font-family: 'Satisfy', cursive;
  color: grey; }

.card {
  background-color: mistyrose; }

/*desayunos*/
.main_contBrunch {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(3 1fr);
  grid-template-areas: "listaDesayunos imgBrunch" "listaDesayunos imgBrunch" "listaDesayunos imgBrunch";
  margin: 2%;
  margin-bottom: 5%; }

.imgBrunch {
  display: grid;
  grid-area: imgBrunch;
  margin-left: 15%; }

.listaDesayunos {
  display: grid;
  grid-area: listaDesayunos;
  padding-top: 2%;
  padding-bottom: 30%;
  margin-left: 1%;
  font-family: 'Satisfy', cursive; }

h2 {
  color: red;
  font-family: oblique; }

/*cafeteria*/
.main_contCafe {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(3 1fr);
  grid-template-areas: "tablaCafe imgCafe " "tablaCafe imgCafe " "tablaCafe imgCafe";
  margin: 2%;
  margin-bottom: 10%; }
  .main_contCafe .imgCafe {
    display: grid;
    grid-area: imgCafe; }
    .main_contCafe .imgCafe .tablaCafe {
      display: grid;
      grid-area: tablaCafe;
      margin-left: 10%;
      padding-bottom: 20%; }

/*formulario contacto*/
.contacto {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3 1fr);
  grid-template-areas: "formulario imgContacto" "formulario imgContacto" "formulario imgContacto";
  margin: 1%;
  margin-bottom: 5%; }

.formulario {
  display: grid;
  grid-area: formulario; }

.imgContacto {
  display: grid;
  grid-area: imgContacto;
  margin-left: 2%; }

/*escritorio*/
@media only screen and (min-width: 768px) and (max-width: 989px) {
  body {
    background-color: mistyrose; }
  .container {
    grid-template-areas: "texto imagen " "texto imagen " "texto imagen" "granosCafe cafeHum " "tuestaCafe cafeHum"; }
  .main_contBebidas {
    grid-template-areas: "listaBebidas imgBebida " "listaBebidas imgBebida " "listaBebidas imgBebida"; }
  .main_contBrunch {
    grid-template-areas: "listaDesayunos imgBrunch" "listaDesayunos imgBrunch" "listaDesayunos imgBrunch"; }
  .main_contCafe {
    grid-template-areas: "tablaCafe imgCafe " "tablaCafe imgCafe " "tablaCafe imgCafe"; }
  .contacto {
    grid-template-areas: "formulario imgContacto" "formulario imgContacto" "formulario imgContacto"; }
  .footer {
    margin-bottom: 0rem; } }

/*tablet*/
@media only screen and (max-width: 767px) and (min-width: 321px) {
  body {
    background-color: papayawhip; }
  .container {
    grid-template-areas: "imagen imagen" "texto texto" "granosCafe cafeHum" "tuesteCafe cafeHum" "footer footer";
    width: 100%; }
  .cafeHum {
    margin-top: 20%; }
  .main_contBebidas {
    grid-template-areas: "listaBebidas listaBebidas" "imgBebida imgBebida" "imgBebida imgBebida"; }
  .imgBebida {
    margin-left: 0rem; }
  .main_contBrunch {
    grid-template-areas: "listaDesayunos listaDesayunos" "listaDesayunos listaDesayunos" "imgBrunch imgBrunch"; }
  .imgBrunch {
    margin-left: 0rem; }
  .main_contCafe {
    grid-template-areas: "tablaCafe tablaCafe" "imgCafe imgCafe" "imgCafe imgCafe"; }
  .contacto {
    grid-template-areas: "imgContacto imgContacto"  "imgContacto imgContacto" "formulario formulario";
    margin-left: 10%;
    width: 100%; }
  .imgContacto {
    display: grid;
    grid-template-areas: imgContacto;
    margin-left: 0rem; }
  .footer {
    margin-bottom: 0rem; } }

/*mobile*/
@media only screen and (max-width: 320px) {
  body {
    background-color: pink; }
  .container {
    grid-template-areas: "imagen imagen" "texto texto" "granosCafe granosCafe" "tuesteCafe tuesteCafe" "footer footer";
    width: 100%; }
  .cafeHum {
    display: none; }
  .main_contBebidas {
    margin-left: 10%; }
  .imgBebida {
    display: none; }
  .main_contBrunch {
    margin-left: 10%; }
  .imgBrunch {
    display: none; }
  .tablaCafe {
    margin-left: 10%; }
  .main_contCafe {
    grid-template-areas: "tablaCafe tablaCafe" "imgCafe imgCafe" "footer footer"; }
  .contacto {
    grid-template-areas: "formulario formulario" "formulario formulario" "footer footer";
    width: 100%; }
  .cardContacto {
    display: none; }
  .footer {
    margin-bottom: 0rem; } }
